@page "/filtered-listings"
<MudPaper MaxHeight="50">
    <MudForm Model="@model">
        <MudGrid Justify="Justify.FlexStart" Spacing="2" Style="padding-top: 15px; padding-right: 20px;padding-bottom: 15px; padding-left: 20px;">
            <MudItem xs="12" md="2">
                <MudAutocomplete @bind-Value="model.Area"
                SearchFunc="Search"
                Label="Περιοχή"
                Placeholder="Περιοχή"
                Clearable="true" />
            </MudItem>

            <MudItem xs="7" md="2">
                <MudInputLabel>Τιμή</MudInputLabel>
                <MudButton Variant="Variant.Text" Color="Color.Default" @onclick="TogglePriceDropdown">
                    Από - Έως
                </MudButton>

                <MudCollapse Expanded="showPriceDropdown">
                    <MudSelect T="double?" @bind-Value="model.LowPrice" Label="Ελάχιστη Τιμή">
                        <MudSelectItem T="double?" Value="@(null)">Αδιάφορο</MudSelectItem>
                        <MudSelectItem T="double?" Value="10000">10.000</MudSelectItem>
                        <MudSelectItem T="double?" Value="20000">20.000</MudSelectItem>
                        <MudSelectItem T="double?" Value="30000">30.000</MudSelectItem>
                        <MudSelectItem T="double?" Value="40000">40.000</MudSelectItem>
                    </MudSelect>

                    <MudSelect T="double?" @bind-Value="model.HighPrice" Label="Μέγιστη Τιμή">
                        <MudSelectItem T="double?" Value="@(null)">Αδιάφορο</MudSelectItem>
                        <MudSelectItem T="double?" Value="10000">10.000</MudSelectItem>
                        <MudSelectItem T="double?" Value="20000">20.000</MudSelectItem>
                        <MudSelectItem T="double?" Value="30000">30.000</MudSelectItem>
                        <MudSelectItem T="double?" Value="40000">40.000</MudSelectItem>
                    </MudSelect>
                </MudCollapse>
            </MudItem>

            <MudItem xs="7" md="2">
                <MudInputLabel>Εμβαδόν (τ.μ.)</MudInputLabel>
                <MudButton Variant="Variant.Text" Color="Color.Transparent" @onclick="ToggleFloorAreaDropdown">
                    Από - Έως
                </MudButton>
                <MudCollapse Expanded="showFloorAreaDropdown">
                    <MudSelect T="int?" @bind-Value="model.FloorAreaLow" Label="Ελάχιστη Τιμή">
                        <MudSelectItem T="int?" Value="@(null)">Αδιάφορο</MudSelectItem>
                        <MudSelectItem T="int?" Value=" 30">30</MudSelectItem>
                        <MudSelectItem T="int?" Value=" 50">50</MudSelectItem>
                        <MudSelectItem T="int?" Value="70">70</MudSelectItem>
                        <MudSelectItem T="int?" Value="100">100</MudSelectItem>
                    </MudSelect>

                    <MudSelect T="int?" @bind-Value="model.FloorAreaHigh" Label="Μέγιστη Τιμή">
                        <MudSelectItem T="int?" Value="@(null)">Αδιάφορο</MudSelectItem>
                        <MudSelectItem T="int?" Value="30">30</MudSelectItem>
                        <MudSelectItem T="int?" Value="50">50</MudSelectItem>
                        <MudSelectItem T="int?" Value="70">70</MudSelectItem>
                        <MudSelectItem T="int?" Value="100">100</MudSelectItem>
                    </MudSelect>
                </MudCollapse>
            </MudItem>

            <MudItem xs="12" md="3">
                <MudButton ButtonType="ButtonType.Button" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" @onclick="HandleSubmit">
                    Αναζήτηση
                </MudButton>
            </MudItem>
        </MudGrid>
    </MudForm>
</MudPaper>

@if (listingData == null || !listingData.Any())
{
    <MudText>No listings found.</MudText>
}
else
{
    <MudPaper Elevation="3" Class="pa-6 rounded-2xl d-flex flex-column" Style="background-color:lightgray">
        <MudGrid Justify="Justify.FlexStart">
            <MudItem xs="12" sm="10">
                @if (listingData.FirstOrDefault().ListingType == SD.ListingTypeRent)
                {
                    <MudText Typo="Typo.h5">Ενοικιάσεις Κατοικιών</MudText>
                }
                else
                {
                    <MudText Typo="Typo.h5">Πωλήσεις Κατοικιών</MudText>
                }
            </MudItem>
            <MudItem xs="12" sm="5">
                <MudStack Row="true">
                    <MudText Typo="Typo.subtitle1">@listingData.Count Αποτελέσματα</MudText>
                    <MudSpacer />
                    @if (listingData.FirstOrDefault().ListingType == SD.ListingTypeRent)
                    {
                        <MudButton Variant="Variant.Text" Color="Color.Primary" @onclick="ChangeToSale">
                            <MudIcon Icon="@Icons.Material.Filled.Refresh" /> Αλλαγή σε Αγορά
                        </MudButton>
                    }
                    else
                    {
                        <MudButton Variant="Variant.Text" Color="Color.Primary" @onclick="ChangeToRent">
                            <MudIcon Icon="@Icons.Material.Filled.Refresh" /> Αλλαγή σε Ενοικίαση
                        </MudButton>
                    }
                    
                </MudStack>
            </MudItem>

    </MudGrid>
    <br />
    <MudGrid>
        <MudItem xs="6" sm="5">
            @foreach (ListingDto item in PageListings)
            {
                <MudCard Class="mb-4">
                    <MudCardContent>
                        <MudGrid>
                            <MudItem xs="12" sm="6">
                                    <MudCard Elevation="5" Class="h-100">
                                        <MudCardMedia Image="@item.House.Images.FirstOrDefault()?.Data" Height="250" />                                        
                                    </MudCard>
                            </MudItem>
                            <MudItem xs="12" sm="6" Class="pl-4">
                                <MudText Typo="Typo.h5">@item.House.Name</MudText>
                                <MudText Typo="Typo.body2" Color="Color.Dark" Class="mb-3">@item.House.Area</MudText>
                                <div style="max-height:220px; overflow:hidden; text-overflow: ellipsis;">
                                    <MudText Typo="Typo.body2" Style="display:-webkit-box; -webkit-line-clamp:10; -webkit-box-orient:vertical; overflow:hidden;">
                                        @item.House.Description
                                    </MudText>
                                </div>

                                <MudGrid Class="mt-2">
                                    <MudItem xs="3">
                                        <MudIcon Icon="@Icons.Material.Filled.MeetingRoom" /> @item.House.Rooms Δωμ.
                                    </MudItem>
                                    <MudItem xs="3">
                                        <MudIcon Icon="@Icons.Material.Filled.Layers" /> @item.House.Floor Όρ.
                                    </MudItem>
                                </MudGrid>
                                <MudText Typo="Typo.h6" Class="mt-3" Color="Color.Primary">@item.House.Price.ToString("C")</MudText>                                   

                            </MudItem>
                        </MudGrid>
                    </MudCardContent>
                </MudCard>
            }
        </MudItem>

        @* <MudItem xs="6" sm="2" >
            <MudText Typo="Typo.h4" Align="Align.Center">Χάρτης Coming Soon</MudText>
        </MudItem> *@

        <MudFlexBreak />

        <MudItem xs="12" sm="12">
            <MudPagination Color="Color.Primary" Count="@TotalPages" @bind-Selected="@_selected" />
        </MudItem>
    </MudGrid>
</MudPaper>
}